<!--翻页-->
<nav>
    <ul class="pagination">
        <li class="disabled">
            <a href="/main/?page={{ urlNum|add:-1}}" aria-label="Previous">
                <span aria-hidden="true"><<</span>
            </a>
        </li>

        {% if urlNum > 5 %}
            <li> <a href="/main/?page=1"> 1 </a> </li>
            <li> ... </li>
        {% endif %}

        {% for x in len_list %}
            {% if x == urlNum %}
            <li class="active">
                <a href="/main/?page={{ forloop.counter }}">
                    {{ forloop.counter }}
                    <span class="sr-only">(current)</span>
            {% else %}
            <li>
                <a href="/main/?page={{ x }}"> {{ x }}
            {% endif %}
                </a>
            </li>
        {% endfor %}

        <li>
            <a href="/main/?page={{ urlNum|add:1 }}" aria-label="Next">
                <span aria-hidden="true">>></span>
            </a>
        </li>
    </ul>
</nav>