<!--详细课程-->
{% load staticfiles %}
<div class="container">
    <div class="row float-element">
        <!--课程详细信息-->
        <div class="col-md-8 inline-h3">
            <span class="blue h3">{{ course.clss.className }}</span>
            <span class="h3 blue">（{{ course.teacher.teacherName }}）</span>
            <hr>
            <div class="ud-pd-sm blue">
                <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
                <span class="rl-pd-sm h4">{{ course.lastRate }}.0</span>
                <span class="rl-pd-sm text-muted">（{{ course.commentNum }}人评价）</span>
            </div>
            <ul class="text-muted list-inline list-unstyled up-pd-sm">
                {% if course.callRate < 4 %}
                    <li>点名频率 ：&nbsp;&nbsp;较低</li>
                {% elif course.callRate < 8 %}
                    <li>点名频率 ：&nbsp;&nbsp;适中</li>
                {% else %}
                    <li>点名频率 ：&nbsp;&nbsp;较高</li>
                {% endif %}

                {% if course.passRate < 4 %}
                    <li>通过率 ：&nbsp;&nbsp;较低</li>
                {% elif course.passRate < 8 %}
                    <li>通过率 ：&nbsp;&nbsp;适中</li>
                {% else %}
                    <li>通过率 ：&nbsp;&nbsp;较高</li>
                {% endif %}

                {% if course.getRate < 4 %}
                    <li>收获大小 ：&nbsp;&nbsp;较低</li>
                {% elif course.getRate < 8 %}
                    <li>收获大小 ：&nbsp;&nbsp;中等</li>
                {% else %}
                    <li>收获大小 ：&nbsp;&nbsp;较高</li>
                {% endif %}
            </ul>

            <!--课程信息-->
            <table class="table table-condensed" rules="none">
                <tbody>
                    <tr>
                        <td>
                            <strong>学科类别：</strong>
                             {{ course.clss.classClass }}
                        </td>
                        <td>
                            <strong>学分：</strong>
                            {{ course.clss.credit }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>开设学院：</strong>
                             {{ course.clss.academy }}
                        </td>
                        <td>
                            <strong>容纳人数：</strong>
                             {{ course.clss.capacity }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--推荐按钮-->
            <div id="action-btn-group" class="ud-pd-md2">
                <button id="like" class="btn btn-white btn-flat">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
                     </span>&nbsp;&nbsp;推荐
                    <small>(<span class="count1">0</span>)</small>
                </button>
                <button id="unlike" class="btn btn-white btn-flat">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> </span>&nbsp;&nbsp;不推荐
                    <small>(<span class="count2">0</span>)</small>
                </button>
            </div>

            <!--点评 + 按钮-->
            <div class="solid ud-pd-md2 inline-h3">
                <span class="blue h3">点评</span>
                {% if request.session.hasLogedin %}
                    <button class="btn btn-white float-right blue vmodal">
                        <span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true"></span>&nbsp;写点评
                    </button>
                {% else %}
                    <button type="button" class="btn btn-white blue navbar-btn pull-right smodal">
                        <span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true"></span>写点评
                    </button>
                {% endif %}

            </div>
            <!--点评模态框-->
            {% include "remark-modalBox.html" %}

            <!--学生评论-->
            <div class="ud-pd-md2 dashed">
                <div class="blue ud-pd-sm">
                    <span class="right-pd-sm px16">
                        <a href="/user/{{ userId }}">swiftiemooc</a>
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>

                <div>
                    <p>内容有趣，可以去听听。好好写篇小论文分数不会差。</p>
                </div>

                <div class="bm-pd-md grey">
                    <span class="small">2017-10-19 11:37</span>
                </div>
            </div>
        </div>

        <!--个人简介、其他老师的课、这个课的其他老师-->
        <div class="col-md-4">
            <!--个人简介-->
            <div class="ud-pd-md2 dashed">
                <img class="avatar-lg circle" src="{% static "img/user.png" %} ">{# 静态文件不会 #}
                <h3 class="blue">
                    <a href="/teacher/{{ course.teacher.id}}">&nbsp;&nbsp;{{ course.teacher.teacherName}}</a>
                </h3>
            </div>

            <!--这个老师教的其他课-->
            <div class="ud-pd-md dashed">
                <h4 class="blue"><strong>{{ course.teacher.teacherName}}</strong>&nbsp;老师的其他课</h4>
                {% for otherCourse in otherCourses %}
                <div class="ud-pd-sm">
                    <a href="/course/{{ otherCourse.id }}">{{ otherCourse.clss.className }}</a>
                    <span class="float-right grey">学分:{{ otherCourse.clss.credit }}.0</span>
                </div>
                {% endfor %}
            </div>
            <!--教这门课的其他老师-->
            <div class="ud-pd-md2 dashed">
                <h4 class="blue">其他老师的&nbsp;<strong>{{ course.clss.className }}</strong>&nbsp;课:</h4>
                {% for otherTeacher in otherTeachers %}
                <div class="ud-pd-sm">
                    <a href="/course/{{ otherTeacher.id }}">{{ otherTeacher.teacher.teacherName }}</a>
                    <span class="float-right grey">{{ otherTeacher.grade }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
