{# 老师的主页面 #}
{% load staticfiles %}
<div class="container">
    <div class="row float-element">
        <div class="col-md-8">
            <div class="big_content">

                <div class="inline-h3">
                    <span class="blue h3">课程</span>
                    <span class="text-muted">（共{{ len }}门）</span>
                </div>
                {% for teacherCourse in teacherCourses %}
                <div class="ud-pd-md2 dashed">
                    <span class="blue">
                        <a class="px16" href="/course/{{ teacherCourse.id }}">{{ teacherCourse.clss.className}}</a>
                    </span>
                    <div class="ud-pd-sm blue">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="rl-pd-sm h4">9.4</span>{# 未修改 #}
                        <span class="text-muted px12">（{{teacherCourse.commentNum }}人评价）</span> <!-- 评价人数-->
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

        <!--简介-->
        <div class="col-md-4">
            <div class="ud-pd-md2 dashed">
                <img class="avatar-lg circle" src="{% static "img/user.png" %}" >
                <h3 class="blue">{{ teacherName }}</h3>
                <p><strong>教师简介：</strong></p>
                    <p>{{ current_teacher.teacherInfo }}</p>
            </div>
        </div>

    </div>
</div>