{# 用户个人信息 #}
{% load staticfiles %}
<div class="container">
    <div class="row float-element">
        <div class="col-md-8">
            <div class="big_content">

                <div class="inline-h3">
                    <a href="/user/{{ userId }}/comments/">
                        <span class="blue h4">
                            <strong>点评</strong>
                        </span>（{{ numOfComments }}门）
                        {% for remark in hisAllComments %}
                            <div class="ud-pd-md2 dashed">
                                <div class="blue ud-pd-sm">
                                    <span class="right-pd-sm px16">
                                        <a href="/course/{{ remark.course_id }}">{{ remark.course.clss.className}}</a>{# 评论的课程名 #}
                                        <div class="bm-pd-md grey">
                                            <span class="small">{{ remark.commentTime|date:"m月d日 H:i" }}</span>
                                        </div>
                                    </span>
                                </div>

                                <div>
                                    <p>{{ remark.comment }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </a>
                    <span class="float-right">
                        <a href="/user/{{ userId }}/comments/">查看更多>></a>
                    </span>
                </div>

                <!--页面最多显示三条评论-->
                {% for comment in comments %}
                <div class="ud-pd-md2 dashed">
                    <div class="ud-pd-sm">
                        <a href="/course/{{ comment.courseOnlyId }}/">{{ comment.name }}</a> <!--name 包括课程名和老师名-->
                        <span class="text-muted small float-right">{{ comment.time }}</span> <!--评论时间-->
                    </div>
                    <p class="dark-grey">
                        {{ comment.detail }} <!--评论内容-->
                        <a href="/course/{{ comment.courseOnlyId }}/#comment-{{commentId}}">>>更多</a>
                    </p>
                </div>
                {% endfor %}

            </div>

            <!--关注-->
            <div class="big_content">
                <div class="inline-h3">
                    <a href="/user/{{ userId }}/follow/">
                        <span class="blue h4">
                            <strong>关注</strong>&nbsp;&nbsp;（2门）
                        </span>
                    </a>
                </div>
                <p class="text-muted">可以关注喜欢的课程哦！</p>
            </div>

        </div>

        <!--简介-->
        <div class="col-md-4">
            <div class="ud-pd-md2">
                <img class="avatar-lg circle" src="{% static "img/penguin.png" %}">
                <h3 class="blue">{{ current_user.userName }}</h3>
                <ul class="list-unstyled dark-grey">
                    <li class="ud-pd-sm">简介：<i><p>{{ current_user.userInfo }}</p></i></li>

{#                    <li class="ud-pd-sm" style="overflow: hidden">博客：暂无</li>#}
                    <li class="ud-pd-sm">推荐了
                        <strong>
                            <a href="/user/{{ userId }}/follow/">2</a>
                        </strong>门课程
                    </li>
                    <li class="ud-pd-sm">点评了
                        <strong>
                            <a href="/user/{{ userId }}/comments/">4</a>
                        </strong>门课程
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
