<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>学生</title>
<link rel="stylesheet" href="bs/css/bootstrap.css">
<link rel="stylesheet" href="admin.css">
<script src="bs/js/jquery.min.js"></script>
<script src="bs/js/bootstrap.js"></script>
<script src="admin.js"></script>
</head>

<body>
<div id="wrap">
	
	<!--导航栏-->
	<nav class="navbar navbar-default">
		<div class="container">	
			
			<div class="navbar-header">
				<a class="navbar-brand">HBUE评课社区</a>
			</div>
				
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="admin.html">点评</a></li>
					<li><a href="course.html">课程</a></li>
				</ul>

				<form class="navbar-form navbar-left" action="/search/" method="get" role="search">
					<div class="form-group">
						<input type="text" class="form-control search-frame" id="search" placeholder="搜索课程、老师">
					</div>
					<div class="form-group">
						<button class="btn btn-default"><span class="glyphicon glyphicon-search grayicon"></span></button>
					</div>
				</form>	

				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="button" class="btn btn-default navbar-btn pull-right smodal">登录</button>
					</li>
				</ul>				
			</div>
				
		</div>		
	</nav>
		
	<!--登录模态框-->	
	<div class="modal fade" id="signin">
		<div class="modal-dialog">
			<div class="modal-content" id="signin-modal">
				<form id="signin-form" class="form-signin">
					<div class="form-signin-heading">
						<span class="h2">请登录</span>
						<a class="btn btn-default float-right" href="/signup.html">注册</a>
					</div>
					<input type="text" name="username" id="inputEmail" class="form-control"  placeholder="用户名或邮箱">
					<input type="password" name="password" id="inputPassword" class="form-control"  placeholder="密码">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="remember">记住我
						</label>
						<a class="float-right" href="/reset-password.html">忘记密码</a>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row float-element">
			<div class="col-md-8">
				<div class="big_content">
				
					<div class="inline-h3">
						<a href="all-views.html">
							<span class="blue h4">
								<strong>点评</strong>
							</span>（4门）
						</a>
						<span class="float-right">
							<a href="all-views.html">查看更多>></a>
						</span>
					</div>
					
					<!--页面最多显示三条评论-->
					<div class="ud-pd-md2 dashed">
						<div class="ud-pd-sm">
							<a href="teacher-course.html">大学生心理学（徐晓飞）</a>
							<span class="text-muted small float-right">2017-10-19 11:37</span>
						</div>
						<p class="dark-grey">
							内容有趣，可以去听听。好好写篇小论文分数不会差。
							<a href="teacher-course.html">>>更多</a>
						</p>
					</div>
					
					<div class="ud-pd-md2 dashed">
						<div class="ud-pd-sm">
							<a href="teacher-course.html">大学生心理学（徐晓飞）</a>
							<span class="text-muted small float-right">2017-10-19 11:37</span>
						</div>
						<p class="dark-grey">
							内容有趣，可以去听听。好好写篇小论文分数不会差。
							<a href="teacher-course.html">>>更多</a>
						</p>
					</div>
					
					<div class="ud-pd-md2 dashed">
						<div class="ud-pd-sm">
							<a href="teacher-course.html">大学生心理学（徐晓飞）</a>
							<span class="text-muted small float-right">2017-10-19 11:37</span>
						</div>
						<p class="dark-grey">
							内容有趣，可以去听听。好好写篇小论文分数不会差。
							<a href="teacher-course.html">>>更多</a>
						</p>
					</div>
					
				</div>
				
				<!--关注-->
				<div class="big_content">
					<div class="inline-h3">
						<a href="student-follow.html">
							<span class="blue h4">
								<strong>关注</strong>&nbsp;&nbsp;（2门）
							</span>
						</a>						
					</div>
					<p class="text-muted">可以关注喜欢的课程哦！</p>
				</div>
				
			</div>
			
			<!--简介-->
			<div class="col-md-4">
				<div class="ud-pd-md2">
					<img class="avatar-lg circle" src="img/user.png">
					<h3 class="blue">swiftiemooc</h3>
					<ul class="list-unstyled dark-grey">
						<li class="ud-pd-sm">简介：None</li>
						<li class="ud-pd-sm" style="overflow: hidden">博客：暂无</li>	
						<li class="ud-pd-sm">推荐了
							<strong>
								<a href="student-follow.html">2</a>
							</strong>门课程
						</li>
						<li class="ud-pd-sm">点评了
							<strong>
								<a href="all-views.html">4</a>
							</strong>门课程
						</li>
					</ul>
				</div>				
			</div>
			
		</div>
	</div>

	<!--copyright-->	
	<div class="container" id="footer">
		<div class="ud-pd-sm">
			<a class="right-pd-md" href="about.html">关于我们</a>
			<a class="right-pd-md" href="blog.html" target="_blank">网站博客</a>
			<a class="right-pd-md" href="regulation.html">社区规则</a>
		</div>
		<span class="footer-text text-muted">Copyright © 2017 HBUE评课社区</span>
	</div>
	
</div>
</body>
</html>
