{% extends "partition/base.html"%}{# 继承父模版 #}

{% load staticfiles %}

{% block title%}
    {{ teacherName }}
{% endblock %}

{% block staticFiles %}
    {% include "partition/common-head.html" %}
{% endblock %}

{% block nav%}{# 导航栏 #}
    {% include "partition/common-nav1.html" %}
{% endblock %}

{% block modalBox%}{# 模态框 #}
    {% include "partition/common-modalBox.html" %}
{% endblock %}

{% block body%}{# 评论区 #}
    {% include "partition/teacher-body.html" %}
{% endblock %}

{% block footer%}{# 底页 #}
    {% include "partition/common-footer.html" %}
{% endblock %}