{% extends "base.html"%}{# 继承父模版 #}

{% load staticfiles %}

{% block title%}
    个人信息
{% endblock %}

{% block staticFiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin.js' %}"></script>
{% endblock %}

{% block nav%}{# 导航栏 #}
    {% include "common-nav.html" %}
{% endblock %}

{% block modalBox%}{# 模态框 #}
    {% include "common-modalBox.html" %}
{% endblock %}

{% block body%}{# 评论区 #}
    {% include "user-body.html" %}
{% endblock %}

{% block footer%}{# 底页 #}
    {% include "common-footer.html" %}
{% endblock %}