{% extends "base.html"%}{# 继承父模版 #}

{% load staticfiles %}

{% block title%}
    点评
{% endblock %}

{% block staticFiles %}
    {% include "common-head.html" %}
{% endblock %}

{% block nav%}{# 导航栏 #}
    {% include "common-nav1.html" %}
{% endblock %}

{% block modalBox%}{# 模态框 #}
    {% include "common-modalBox.html" %}
{% endblock %}

{% block body%}{# 评论区 #}
    {% include "userCourseMore-body.html" %}
{% endblock %}

{% block footer%}{# 底页 #}
    {% include "common-footer.html" %}
{% endblock %}